.signin{
    width: 280px;
    margin-left: 26px;
}

ion-item{
    --background: transparent;
    --color	: white;
    --border-color: var(--ion-color-light, #fff);
    --highlight-color-focused: var(--ion-color-light, #fff);
     
}

ion-button{
    --background		: #FFAB40;
    --background-activated	: #FFAB40 ;
    --background-focused		: #FFAB40;
     height: 40px;
    //  width: 240px;
}
.img-height{
    height: 254px;
}
