

<ion-content padding color="dark">

  <ion-img class="img-height" src="/assets/logo.png">

  </ion-img>
<div class="signin">
  <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
    <div text-right>
    <small>Forgot Password</small>
  </div>

  <div padding text-center class="button-class">
      <ion-button color="primary" expand="block" shape="round">
        <b>Login</b>
  </ion-button>
</div>
<div padding text-center class="button-class">
    <ion-button expand="block" shape="round">
     <b> Signup </b>
</ion-button>
</div>
</div>
</ion-content>
