

<ion-content>

    <div class="bg-white">
        <ion-img src="/assets/house.jpg"></ion-img>
        <div padding>
        <h3> VALLE ROMANO 26 </h3>
        <span class="heart"><ion-icon name="heart"></ion-icon></span>
                <p>595.000E</p>
                <p text-wrap>
                    Keep close to Nature's heart... and break clear away, once in awhile,
                    and climb a mountain or spend a week in the woods. Wash your spirit clean.
             </p>
             <div>
               <span><ion-icon name="bed" class="icon-font"></ion-icon> <span> &nbsp; 3 Bed</span></span> &nbsp;
               <span><ion-icon name="outlet" class="icon-font"></ion-icon> <span>&nbsp; 1 Floor</span></span>&nbsp;
               <span><ion-icon name="bicycle" class="icon-font"></ion-icon> <span>&nbsp;3 Bath</span></span>
             </div>
        </div>
      
      </div>
<br/>
<div class="bg-white">
  <div class="pad-right">
  <p class="detail"><b>Detail</b></p>
  <!-- <hr/> -->
  <p class="pad-detail">Location: Estepona</p>
  <p class="pad-detail">Area: 497 m</p>
  <p class="pad-detail">Type: Villas</p>
  <p class="pad-detail">Swimmingpool: Yes</p>
</div>
</div>

<!-- <div class="bottom-tabs">
  <ion-row>
    <ion-col>Email</ion-col>
    <ion-col>Call</ion-col>

  </ion-row>
</div> -->

</ion-content>

<ion-footer>
    <ion-row class="bg-white row-heg">
        <ion-col class="email"><ion-icon name="mail"></ion-icon> &nbsp; Email</ion-col>
        <ion-col class="call"><ion-icon name="call"></ion-icon> &nbsp; Call</ion-col>
    
      </ion-row>
</ion-footer>