

<ion-content padding color="dark">
  <ion-img src="/assets/logo.png" alt="" srcset="">
  </ion-img>
  <ion-item>
    <ion-label position="floating">Company ID</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contact No</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Email Address</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Re-Password</ion-label>
              <ion-input type="password"></ion-input>
            </ion-item>

            <div padding text-center class="button-class">
                <ion-button color="primary" expand="block" shape="round">
                  Signup
            </ion-button>
          </div>

          <div text-center>
              <p>Already Have an account? <a href="#">Login Now</a></p>

          </div>

</ion-content>
